/* Login form part */

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

/* input written text */
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
/* when the input is clicked */
#login-form input:focus {
  border-color: var(--yellow);
}

/* Animation to change the bottom line color when clicked, excluding the submit button */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid var(--lightgray);
  transition: border-color 0.2s ease-in-out;
}

/* to style input submit */
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
  color: darkgray;
  font-size: 16px;
  font-weight: 600;
}

#login-form input[type="submit"]:hover {
  color: #4b4b4b;
}

/* place the text on the login buttons in the center */
#login-form a {
  text-align: center;
  /* remove the preset deco style for anchor */
  text-decoration: none;
  /* -inherit- means it gets the quality from its parent, here the #login-form */
  color: inherit;
  font-size: 13px;
  opacity: 0.7;
}
#login-form a:hover {
  opacity: 1;
}