/* font loaded */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* reset all styles */
@import "reset.css";

/* refer to the page design factors */
@import "variables.css";

/* Components */
@import "status-bar.css";
@import "welcome-header.css";
@import "login-form.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "alt-screen-header.css";
@import "friends-display-bar.css";
@import "user-component.css";
@import "badge-notification.css";
@import "icon-row.css";
@import "divider.css";
@import "no-mobile.css";
@import "animation.css";
@import "dot-notification.css";
@import "keyboard.css";

/* Screens */
/* @import "screens/login.css"; */
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  /* to test the fixed location of the nav bar */
  /* height: 1000vh; */
}

.main-screen {
  height: 100vh;
  padding: 0px var(--horizontal-space);
}
