/* To make an alt-header shortcut
header.alt-header>div.alt-header_column*3 + enter */

.alt-header {
  padding: 0 var(--horizontal-space);
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ;
}
.alt-header i {
  opacity: 0.6;
}
.alt-header i:hover {
  opacity: 1;
  color: var(--black);
}

.alt-header_column {
  width: 33%;
}

.alt-header_title {
  font-size: 1.3em;
  font-weight: 600;
}

.alt-header_column:first-child {
  margin-right: auto;
}

.alt-header_column:nth-child(2) {
  text-align: center;
}

.alt-header_column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header_column span:last-child {
  margin-left: 20px;
}
