/* Screen Header
rorate setting icon animation */
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header_icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

/* screen header
shake Search icon animation */
@keyframes shakeSearch {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(90deg);
    /* transform: scale(1.2); */
  }
  100% {
    transform: none;
  }
}
.alt-header_column .fa-search:hover,
.nav_btn .fa-search:hover,
.screen-header_icons .fa-search:hover {
  animation: shakeSearch 1s ease infinite;
}
/* screen header / alt-header
Chat icon animation */
@keyframes enlargeChat {
  0% {
    transform: none;
  }
  50% {
    /* transform: rotateZ(90deg); */
    transform: scale(1.4);
  }
  100% {
    transform: none;
  }
}
.alt-header_column .fa-comment-dots:hover,
.nav_btn .fa-comment-dots:hover,
.screen-header_icons .fa-comment-dots:hover {
  animation: enlargeChat 1s ease infinite;
}
/* screen header/alt-header music icon animation */
@keyframes shakeMusic {
  0% {
    transform: none;
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: none;
  }
}
.alt-header_column .fa-music:hover,
.screen-header_icons .fa-music:hover {
  animation: shakeMusic 1s ease infinite;
}
/* screen header/alt-header More icon animation */
@keyframes vibrateMore {
  0% {
    transform: none;
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: none;
  }
}
.alt-header_column .fa-bars:hover,
.screen-header_icons .fa-bars:hover {
  animation: vibrateMore 0.05s ease infinite;
}
/* Nav bar
more icon(4th) notification animation */
@keyframes notificationAnimation2 {
  0% {
    transform: none;
    transform: scale(0.2);
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
    transform: scale(0.2);
  }
}

.nav_link:nth-of-type(4) {
  position: relative;
}
.nav_more-notification {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  width: 10px;
  height: 10px;
  /* make the contents in center */
  display: flex;
  justify-content: center;
  align-items: center;
  /* decide the location */
  position: absolute;
  right: -4px;
  bottom: 15px;
/* animation  */
  animation: notificationAnimation2 2s ease-in-out infinite;
}

/* nav bar 
gradual appear animation */
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav_btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}
.nav_btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav_btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav_btn:last-child {
  animation-delay: 0.8s;
}

/*  
no landscape animation */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
  #no-landscape {
    display: none;
  }
}
#no-landscape {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

/* no mobile animation */
@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}
#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

/* splash screen animation */
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

/* Heartbeat Animation in Find Screen Open Post  */
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}
.open-post_heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

/* Chat screen Reply Bar Animation  */
/* button actions  */
.reply_column button:focus,
.reply_column button:active {
  outline: none;
}

.reply .reply_column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply_column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

